* {
  margin: 0;
}

.container {
  width: 1024px;
  margin: auto;
}

/*Header*/
header {
  background-color: rgb(56, 160, 224);
  background-image: url(../img/pattern.png);
  background-size: 250px;
}

#logo {
  height: 40px;
  margin-top: 30px;
}
/*Fine Header*/

/*Main*/
h1 {
  font-size: 40px;
  margin-top: 15px;
  line-height: 35px;
}
.autore {
  color: gray;
  font-size: 15px;
}

.autore span {
  color: lightseagreen;
}

.data {
  color: gray;
  font-size: 10px;
  margin-bottom: 20px;
}

.infophoto {
  font-size: 10px;
}

.highlighted {
  background-color: yellow;
}

.margin {
  margin-top: 15px;
}

table {
  border-spacing: 0;
  margin-top: 15px;
}
thead {
  background-color: rgb(2, 98, 136);
  color: white;
  text-align: left;
}

.text {
  width: 50%;
}

.odd {
  background-color: lightblue;
}
/*fine Main*/

/*footer*/
h3 {
  color: grey;
}

.back-img {
  color: white;
  width: 300px;
  height: 250px;
  font-size: 20px;
  margin-top: 10px;
}

.graph {
  background-image: url(../img/graph.jpg);
  background-size: cover;
}

.pc {
  background-image: url(../img/monitor.jpg);
  background-size: cover;
}
/*fine footer*/
